
.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F2F1F6 ;
}
.breadcrumb a{
    text-decoration: none;
    color: #B5B5B5;
    margin-bottom: 20px;

}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 span {
    font-size: 18px;
    color: #888;
}

.cart {
    display: flex;
    justify-content: space-between;
}

.cart-items {
    width: 65%;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.product-info {
    display: flex;
    align-items: center;
    width: 70%;
}

.product-info img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

.product-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-details p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.product-details span {
    font-size: 16px;
    color: #e67e22;
}

.product-details del {
    color: #bbb;
    font-size: 14px;
    margin-left: 5px;
}

.actions {
    font-size: 14px;
    color: #007bff;
    margin-top: 10px;
}

.actions a {
    color: #007bff;
    text-decoration: none;
    margin-right: 5px;
}

.promotion {
    background-color: #d4edda;
    color: #155724;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
}

.quantity {
    width: 15%;
    text-align: center;
}

.quantity input {
    width: 40px;
    text-align: center;
}

.total-price {
    width: 15%;
    font-size: 16px;
    text-align: center;
    color: #e67e22;
}

.cart-summary {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.cart-summary h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.cart-summary p {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-summary p strong {
    font-size: 18px;
}
.cart-vat{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 65%;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #ff6a00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.container{
    margin: 0 auto;
    width: 1200px;

}