html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F1F6;
}

:root {
    --primary-color: #2f5d46;
    /* màu xanh */
    --button-bg-color: #2f5d46;
    /* màu nền nút */
    --text-color: #333;
    --button-text-color: #fff;
    --icon-size: 24px;
    --button-radius: 20px;
    --font-family: Arial, sans-serif;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-logo {
    width: 100px;
    margin-bottom: 20px;
}

.popup p {
    margin-bottom: 20px;
    font-size: 16px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
}

.popup-btn {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.popup-btn.agree {
    background-color: #007bff;
    color: white;
}

.popup-btn:hover {
    opacity: 0.8;
}

.header {

    background-color: #2e5f45;
    color: black;
    position: sticky;
    top: 0;
    /* Dính vào cạnh trên của màn hình */
    z-index: 1000;
    /* Đảm bảo header nằm trên các phần tử khác */


}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    color: white;
    font-size: 14px;
}
.top-banner {
    background-color: #9966cc;
    padding: 5px;

    text-align: center;
    font-size: 16px;

}

.header-main {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 30px 20px;

}

.logo-left {
    display: flex;

    float: left;
    margin: 0;
    width: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    /* Đặt kích thước ảnh logo theo mong muốn */
    width: 100px;
    /* Đặt kích thước ảnh logo theo mong muốn */
    /* Khoảng cách giữa ảnh logo và văn bản */
}

.logo-text h3 {
    font-size: 24px;
    color: white;
    margin: 0;
}

.logo-text span {
    color: white;
    font-size: 14px;
    display: block;
}

.search-bar {
    margin-left: 60px;
    position: relative;
}


#searchNotification{
    display: none;
    position: absolute;
    top: 70px;
    right: -7px;

    color: white;
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 100;
    width: 140%;
}

.notification-container {
    background-color: #f7f7f7;
    padding: 10px;

    border-bottom: 1px solid #ddd;
}

.notifications {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.notifications li {
    color: #2f8440;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
}


/* CSS cho phần nút và menu */
.account-menu {
    position: relative;
    display: inline-block;
}

.account-button {
    background-color: #3e8e41;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1;
}

.banner {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #ff4e91, #ff7696);
    padding: 20px;
    color: white;
    height: 200px;
    text-align: center;
}

.banner-top {
    width: 33%;
    position: relative;
}

.banner-top img {
    width: 100%;
    border-radius: 10px;
}

.price {
    font-size: 18px;
    margin-top: 10px;
}

.discount {
    color: yellow;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

.gift {
    background-color: #fff;
    color: #ff4e91;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-top: 1px solid darkgray;
}

.menu-item {
    text-align: center;
    font-size: 17px;
    color: #333;
    width: auto;
    font-weight: bold;
    margin: 10px;
    transition: box-shadow 0.3s;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}

.menu-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 8px;
    transition: transform 0.3s;
}

.menu-item:hover img {
    transform: scale(1.2);
}

.menu-item:hover p {
    color: lightgreen;
}


/* Phần danh mục và thương hiệu */
.category-brand-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.category-title span {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* Các mục danh mục sản phẩm */
.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.category-item {
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    flex: 1 1 150px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: red;
}

.category-item:hover {
    background-color: #e3f7e6;
    border-color: #2f8440;
    color: #218838;
}

.search-bar:hover #searchNotification {
    display: block;
    /* Hiển thị khi hover vào input */
}

/* Phần thương hiệu */
.brands {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.brands img {

    max-width: 100px;
    max-height: 40px;
    transition: transform 0.3s ease;
}

.brands img:hover {
    transform: scale(1.1);
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {

    border-radius: 30px;
    min-width: 382px;
    max-width: 600px;
    height: 36px;
    border: none;

}

.search-bar #find-product {
    margin-left: -26px;


}

.search-bar button {
    margin-left: 5px;
    height: 40px;
    background-color: white;
    color: #2e5f45;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.float-right {

    float: right;
    width: 50%;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.header-icons .header-icon-sub {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}

.header-icons a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;

}

.login-hover {
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;

}

.login-hover a {
    margin: 0;


}

.cart-icon {
    position: relative;
}

.cart-count {
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    position: absolute;
    top: 10px;
}

.header .header-list-product .navbar {
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #e0f3e0;
    padding: 10px 20px;
    font-size: 14px;
}

.nav-menu,
.nav-right {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu li,
.nav-right li {
    margin-right: 20px;

}

.nav-menu li:last-child,
.nav-right li:last-child {
    margin-right: 0;
}

.nav-menu a,
.nav-right a {
    text-decoration: none;
    color: #2b4d2b;
    font-weight: bold;
}


.nav-menu li a:hover,
.nav-right li a:hover {
    text-decoration: underline;
    /* Gạch dưới */
    text-decoration-style: solid;
    /* Kiểu gạch dưới liền */
    color: #ff0303;

    /* Màu chữ khi hover */
}


.nav-menu {
    position: relative;
}

#sub-menu-web {
    display: none;
    position: absolute;
    height: 400px;
    width: 30%;
    margin-left: -65%;
    margin-top: 55%;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #898989;


}

.nav-menu .paddig-hover {
    padding: 10px;
    margin-right: 20px;
}

.paddig-hover:hover + #sub-menu-web {
    display: block;
}

/* Đảm bảo sub-menu không bị mất khi di chuột vào */
#sub-menu-hover:hover #sub-menu-web,
#sub-menu-web:hover {
    display: block;
}

.nav-menu:first-child {
    padding: 10px;

}


#sub-menu-web .col-menu-cap1 > .sub-item-menu {
    display: flex;
    text-align: center;
    align-items: center;
    height: 40px;


}

#sub-menu-web .col-menu-cap1 .sub-item-menu > a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;

}


.nav-menu a,
.nav-right a {
    color: #1d371d;
}

.login-hover a {
}


.header-icons .login-hover:hover .login-box {
    display: block;
    position: absolute;
    top: 129px;
    margin-right: 100px;
}

.login-box {
    display: none;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;


}

.login-box h3 {
    margin-bottom: 20px;

    color: #333;
}

.login-box p {
    color: #333;
}

.login-box p a {
    color: #2b4d2b;
    font-size: 16px;
    font-style: bold;
}

.login-box .social-login {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.login-box .social-login button {
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box .social-login button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.facebook-login {
    background-color: #3b5998;
}

.google-login {
    background-color: #db4437;
}

.hasaki-login {
    background-color: #2e5f45;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.hasaki-login:hover {
    background-color: #264b38;
}

#session-body {
    height: 7000px;
    flex-grow: 1;
    overflow: visible;
}

/* Sidebar Styling */
.sidebar {
    width: 20%;
    background-color: white;
    padding: 20px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.space-price {
    display: flex;

}

.price-filter input {
    width: 45%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.price-filter button {
    display: block;
    padding: 10px;
    width: 100%;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.price-filter button:hover {
    background-color: darkorange;
}

/* Product Listing Styling */
.product-listing {
    width: 100%;
    float: right;
    display: grid;
    background-color: #fff;
    grid-template-columns: repeat(5 , 1fr);
    grid-gap: 20px;
}

.product {

    background-color: rgb(247, 244, 244);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product:hover {
    border: 2px solid orange;
}

.product .vn_names {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #218838;
}

.product p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #f00;
}

.btn-buy {


    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 30%;

    cursor: pointer;
}

.btn-buy:hover {
    background-color: #218838;
}

#session-footer {
    background-color: #f2f2f2;
    text-align: center;
    height: 50px; /* Chiều cao cụ thể của footer */
    margin: 10px auto 0; /* Khoảng cách phía trên là 10px */
}

footer {
    background-color: #f1f1f1;
    color: #333;
    border-top: 3px solid #218838;

}

.footer-header {
    display: flex;

    justify-content: space-around;


}

.footer-top {
    display: block;
    padding: 20px;
    background-color: #fff;
}

.footer-info {
    display: flex;
    flex-direction: column;


}

.info-item {
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.info-item img {
    width: 60px;
    height: 60px;


}

.contact-info {
    display: flex;
    background-color: #276143;
    justify-content: space-between;

    margin-top: 20px;

}

.contact-info h3 {
    color: #fff;
    font-size: 16px;
    font-size: bold;

}

.info-item p {
    color: #218838;
    cursor: pointer;
    font-size: 14px;
}

.contact-info p {
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 5px;
    font-size: bold;
    color: #dcdbdb;

}

.contact-info h3 {
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.social-media {
    text-transform: uppercase;
}

.social-media .social-icons img,
.social-media .payment-methods img {
    width: 30px;
    margin-right: 5px;
}

.social-media p a {
    text-decoration: none;
    color: #fff;

}

.payment-methods h3 {
    color: #fff;
    font-size: 16px;
    font-size: bold;
}

.footer-bottom {
    background-color: #e9ecef;
    padding: 10px 20px;
    text-align: center;
}

.footer-bottom h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-license {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #777;
}

.contact-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.contact-item .icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.contact-item .icon img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: 8px;
}

.contact-item .icon p {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
}

.contact-item button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
}

.contact-item button:hover {
    background-color: #25643b;
    /* Đổi màu khi hover */
}

.promo-section {
    border-radius: 10px;
    color: #ffffff;
}

.promo-section h3 {

    margin-bottom: 15px;
}

.promo-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.promo-input input {
    width: 200px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
}

.promo-input button {
    background-color: #f47920;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
}

.promo-download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.promo-download img {
    width: 50px;
    height: auto;
}

.app-links img {
    width: 120px;
}


#session-info {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.about-section {
    max-width: 800px;

    line-height: 1.6;
}

.about-section h2 {
    font-size: 24px;
    color: #2f5d46;
    margin-bottom: 10px;
}

.about-section .highlight {
    font-weight: bold;
    color: #2f5d46;
}

.about-section p {
    margin-bottom: 15px;
    font-size: 16px;
}

.about-section a {
    color: #2f5d46;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}

.info-section {

    max-width: 800px;
    margin: 20px auto;
    font-size: 14px;
}

.certification img {
    width: 150px;
    margin-bottom: 10px;
}

.certification p {
    color: #666;
}

.search-tags h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    background-color: #e9e6e6;
    color: #333;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.product-categories {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-categories h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.category-column {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin: 10px 1%;
}

.category-column h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.category-column p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .category-column {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .category-column {
        width: 100%;
        margin-bottom: 20px;
    }
}

strong {
    color: orange;
}


/* Footer Styles */

/* Chat Box Styles */
.chat-box {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Hidden by default */
    flex-direction: column;
}

.chat-header {
    position: fixed;
    width: 17%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.chat-content {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.chat-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.chat-box-icon {
    position: fixed;
    bottom: 0;
    right: 20px;
    height: 80px;

    max-height: 400px;


    /* Hidden by default */
    flex-direction: column;
}

.chat-box-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    animation: shake 0.5s ease infinite, glow 3s ease infinite; /* Thêm hiệu ứng rung và sáng */
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px); /* Di chuyển sang trái */
    }
    50% {
        transform: translateX(5px); /* Di chuyển sang phải */
    }
    75% {
        transform: translateX(-5px); /* Di chuyển sang trái */
    }
    100% {
        transform: translateX(0); /* Quay lại vị trí ban đầu */
    }
}


@keyframes glow {
    0% {
        box-shadow: 0 0 40px rgba(106, 255, 0, 0.3); /* Ánh sáng nhẹ, màu xanh lá */
    }
    25% {
        box-shadow: 0 0 50px rgba(106, 255, 0, 0.3); /* Màu xanh lá đậm hơn */
    }
    50% {
        box-shadow: 0 0 60px rgba(106, 255, 0, 0.3); /* Màu xanh lá đậm hơn */
    }
    100% {
        box-shadow: 0 0 30px rgba(106, 255, 0, 0.3); /* Ánh sáng nhẹ lại */
    }
}


.container {
    margin: 0 auto;
    width: 1200px;
}
.FlashSale {
    background-color: #f97817;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flash-deals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.timer {
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #000;
    color: #fff;
    padding: 3px 8px;
    border-radius: 4px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 160px;
    text-align: center;
    padding: 10px;
    margin: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.product-item img {
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.product-item:hover img {
    transform: scale(1.1); /* Phóng to ảnh */
}

.product-info .price {
    color: #e53935;
    font-size: 16px;
    font-weight: bold;
}

.product-info .original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 12px;
}

.product-info .discount {
    background-color: #25ad61;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
}

.product-info .product-name {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    line-height: 1.4;
}


/*    */
.list-product {
    position: relative;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
}

.list-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.products2 {
    display: flex;
    overflow-x: auto; /* Cho phép cuộn ngang */
    gap: 20px;
    padding-bottom: 10px;
    scrollbar-width: thin; /* Cho thanh cuộn nhỏ lại (dành cho Firefox) */
    scrollbar-color: rgba(136, 136, 136, 0.5) #f1f1f1; /* Màu thanh cuộn mờ (dành cho Firefox) */
}

.products2::-webkit-scrollbar {
    width: 1px; /* Kích thước thanh cuộn nhỏ 1px */
    background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}

.products2::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.5); /* Màu thanh cuộn mờ */
    border-radius: 10px; /* Bo góc thanh cuộn */
}

.products2::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của khu vực chứa thanh cuộn */
}

.category {
    text-align: center;
    width: 120px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng nhẹ */
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng khi hover */
}

.category img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.category p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.category img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Thêm hiệu ứng phóng to ảnh */
}

.category:hover img {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
}
.category:nth-child(1) {
    background-color: #f0f8ff; /* Màu nền cho sản phẩm đầu tiên */
}

.category:nth-child(2) {
    background-color: #faebd7; /* Màu nền cho sản phẩm thứ hai */
}

.category:nth-child(3) {
    background-color: #ffebcd; /* Màu nền cho sản phẩm thứ ba */
}

.category:nth-child(4) {
    background-color: #ffe4e1; /* Màu nền cho sản phẩm thứ tư */
}

.category:nth-child(5) {
    background-color: #f5f5dc; /* Màu nền cho sản phẩm thứ năm */
}

.category:nth-child(6) {
    background-color: #e0ffff; /* Màu nền cho sản phẩm thứ sáu */
}

.category:nth-child(7) {
    background-color: #fafad2; /* Màu nền cho sản phẩm thứ bảy */
}

.category:nth-child(8) {
    background-color: #d3d3d3; /* Màu nền cho sản phẩm thứ tám */
}

.category:nth-child(9) {
    background-color: #f0e68c; /* Màu nền cho sản phẩm thứ chín */
}

.category:nth-child(10) {
    background-color: #e6e6fa; /* Màu nền cho sản phẩm thứ mười */
}

.category:nth-child(11) {
    background-color: #fffacd; /* Màu nền cho sản phẩm thứ mười một */
}

.category:nth-child(12) {
    background-color: #dcdcdc; /* Màu nền cho sản phẩm thứ mười hai */
}

.category:nth-child(13) {
    background-color: #f8f8ff; /* Màu nền cho sản phẩm thứ mười ba */
}
/**/
.brand-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}

.brand-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.brand-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Cho phép cuộn ngang */
    gap: 20px;
    padding-bottom: 10px;
    scrollbar-width: thin; /* Thanh cuộn nhỏ lại (dành cho Firefox) */
    scrollbar-color: rgba(136, 136, 136, 0.5) #f1f1f1; /* Thanh cuộn mờ (dành cho Firefox) */
}

.brand-list::-webkit-scrollbar {
    width: 1px; /* Kích thước thanh cuộn 1px */
    background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}

.brand-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của khu vực chứa thanh cuộn */
}

.brand-item {
    text-align: center;
    width: 120px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.brand-item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.brand-item:hover img {
    transform: scale(1.1);
}

.brand-item p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


/*8*/
.product-carousel {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex; /* Sử dụng flex để dễ dàng quản lý bố cục */
    flex-direction: column;
}

.product-carousel-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    display: block; /* Đảm bảo tiêu đề nằm trên các sản phẩm */
}

.product-cards {
    display: flex;
    flex-wrap: nowrap; /* Các thẻ sản phẩm nằm ngang */
    overflow-x: auto; /* Cho phép cuộn ngang */
    gap: 20px;
    scrollbar-width: thin; /* Thanh cuộn nhỏ lại (dành cho Firefox) */
    scrollbar-color: rgba(136, 136, 136, 0.5) #f1f1f1; /* Thanh cuộn mờ (dành cho Firefox) */
}

.product-cards::-webkit-scrollbar {
    width: 1px; /* Kích thước thanh cuộn 1px */
    background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}

.product-cards::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của khu vực chứa thanh cuộn */
}

.product-card {
    text-align: center;
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.1); /* Phóng to ảnh khi rê chuột */
}

.product-card p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
/**/
.top-search-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.top-search-header {
    font-size: 20px;
    font-weight: bold; /* Đậm */
    color: black;
    margin-bottom: 10px;
}

.top-search-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.top-search-item {
    width: 230px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.top-search-item:hover {
    transform: translateY(-5px);
}

.top-search-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.top-search-item img:hover {
    transform: scale(1.1); /* Khi rê chuột vào ảnh, ảnh sẽ zoom */
}

.item-info {
    padding: 10px;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.item-count {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
.top-search-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.top-search-header {
    font-size: 20px;
    font-weight: bold; /* Đậm */
    color: black;
    margin-bottom: 10px;
}

.top-search-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.top-search-item {
    width: 230px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.top-search-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động chỉ cho ảnh */
}

.top-search-item img:hover {
    transform: scale(1.1); /* Chỉ ảnh sẽ zoom khi rê chuột vào */
}

.item-info {
    padding: 10px;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.item-count {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

/**/
.viewed-products {
    background-color: #f9f9f9; /* Màu nền giống hình */
    border-radius: 10px;
    padding: 15px;
    width: 300px; /* Tùy chỉnh kích thước */
}

.viewed-products h3 {
    color: #2e7d32; /* Màu chữ xanh đậm */
    font-size: 16px;
    margin-bottom: 10px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-item img {
    width: 170px; /* Kích thước ảnh */
    border-radius: 5px; /* Bo góc nhẹ */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/**/

.suggested-products {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.suggested-products .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.suggested-products h3 {
    font-size: 18px;
    color: #2e7d32; /* Màu xanh tiêu đề */
    margin: 0;
}

.suggested-products #view-more {
    background-color: #2e7d32;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.suggested-products #view-more:hover {
    background-color: #45a049;
}

.product-header {
    display: flex;
    flex-direction: row;
    width: 102%;
    gap: 15px;
    background-color:  #fff;
    margin-bottom: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 300px; /* Chiều cao giới hạn ban đầu */
    transition: max-height 0.3s ease-in-out;

}
.product-list{


}
.product-list.expanded {
    max-height: 1000px; /* Chiều cao khi mở rộng */
}



.product img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
}

.product-desc {
    font-size: 14px;
    color: #666;
}

.product-price {
    color: #e53935;
    font-weight: bold;
    margin-top: 5px;
}
